@font-face {
  font-family: "CeraPro";
  src: url("./public/fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("./public/fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("./public/fonts/CeraPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --primary: #f28f1b;
  --secondary: #a26444;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "CeraPro", sans-serif;
  background-color: #fff;
}

h1 {
  font-size: 3vw;
  font-weight: 500;
  color: var(--primary);
}

h2 {
  font-size: 2vw;
  font-style: italic;
  font-weight: 100;
  text-align: end;
}

p {
  font-size: 2vw;
  font-weight: 100;
  text-align: justify;
}

main {
  flex: 1;

  padding: 4vw 2vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: var(--primary);
  font-weight: 500;
  font-size: 2vw;
  text-align: end;
}

.title {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.title-block {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.orange-round {
  width: 2.5vw;
  height: 2.5vw;
  background-color: var(--primary);
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  font-size: 1.8vw;
  font-weight: 500;
  color: white;
}

.content {
  height: 100%;
  flex: 1;

  display: flex;

  gap: 6vw;
}

.topic {
  width: 22%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topic h2 {
  margin-left: auto;
}

.topic-video {
  width: 21vw;
  height: 21vw;
  border: none;
  border-radius: 100%;
  background-color: white;

  object-fit: cover;

  position: relative;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0vw;
}

.term {
  color: var(--primary);
  font-weight: 500;
}

.fact {
  display: flex;
  align-items: end;
  gap: 6vw;
}

.fact-content h1 {
  margin-bottom: 1vw;
}

.fact-img {
  width: 15vw;
  height: 15vw;
  background-color: white;
  border: none;
  object-fit: cover;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.orange-round-button {
  width: 8vw;
  height: 8vw;
  background-color: var(--primary);
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.orange-round-button.active {
  box-shadow: 0 0 0 0.6vw var(--secondary);
}

.orange-round-button > img {
  width: 5vw;
  height: 5vw;
}

.arrow {
  height: 4vw;
  width: 4vw;
}

/* */

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-in.show {
  opacity: 1;
}

/* */
/*


@media (max-width: 768px) {
  body {
    padding-top: 4vh;
    padding-bottom: 16vh;
  }

  h1 {
    font-size: 3.5vh;
  }

  h2 {
    font-size: 2.5vh;
  }

  p {
    font-size: 2.5vh;
  }

  .orange-round {
    width: 6vh;
    height: 6vh;

    font-size: 3vh;
  }

  header {
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title {
    gap: 2vh;
    order: 1;
    align-self: flex-start;
  }

  .header-title {
    font-size: 4vh;
    text-align: center;
    margin-bottom: 4vh;
    order: 0;
  }

  .content {
    flex-direction: column;
    gap: 0vh;
    margin: 0;
    margin-top: 4vh;
  }

  .topic {
    display: flex;
    flex-direction: column;
  }

  .topic h2 {
    min-height: 0;
    width: 60%;
    align-self: flex-end;
  }

  .topic-video {
    margin-top: 0;
    width: 40vh;
    height: 40vh;
    margin: 6vh 0;
    align-self: center;
  }

  .fact {
    align-items: center;
    flex-direction: column;
    gap: 0vh;
  }

  .fact-content {
    order: 1;
  }

  .fact-content h1 {
    margin-bottom: 1vh;
  }

  .fact-img {
    width: 40vh;
    height: 40vh;
    order: 0;
    margin: 6vh 0;
  }

  .buttons {
    background-color: white;
    width: 100%;
    padding: 1.8vh 0;
    justify-content: center;
    gap: 4vh;

    position: fixed;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .buttons img {
    width: 4vh;
    height: 4vh;
  }

  .orange-round-button {
    width: 6vh;
    height: 6vh;
  }

  .orange-round-button.active {
    box-shadow: 0 0 0 1vh var(--secondary);
  }
}


*/
